/* product_details_groupbang.html */
/*
	general
*/
.georgia{
	font-family:'Georgia Italic',Georgia,serif;
	font-style:italic;	
	font-weight:normal;
	
}

.red {
	color:#cc0304;
}
.shopmax{
	color:#484d50;
}

.blue{
	color:#469BEB;
}

.small-text{
	font-size: 0.9em;
}
.bg-blue{
	background-color:#469BEB;
}
.green {
	color:#84b234;

}
.table td.align-right{
	text-align: right;	
}

.grey {
	color:#707070;

}
.old{
	text-decoration: line-through;
}
.row-grey td{
	background: #F0F0F0;
}

input.required{
	background-color:#fef2ee;
}

.btn-green-small {
    background: url("../img/btn-green-small.png") repeat-x scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 13px;
    text-align: center;
    text-transform: uppercase;
   /* width:60px;*/
    margin-right: 5px;

}


.btn-general-small12 {
    background: url("../img/btn-general-rpt.png") repeat-x scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: inline-block;
    font-size: 85%;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 13px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
	float:right;
	position:relative;
	bottom:30px;

}

.btn-dark-grey-small {
    background: url("../img/btn-dark-grey-small.png") repeat-x scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: inline-block;
    font-size: 85%;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 13px;
    text-align: center;
    width:65px;
    margin-right: 5px;

}

.btn-grey-small {
    background: url("../img/btn-grey-small.png") repeat-x scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 13px;
    text-align: center;
    text-transform: uppercase;
    width:60px;
    margin-right: 5px;
}


.btn-grey-small:hover,
.btn-green-small:hover,.btn-dark-grey-small:hover {
	text-decoration:none;
	text-shadow:0 1px 1px #666;
}

.badge-inactive {
    background-color: #dddddd;
}

.badge-active {
    background-color: #469beb;
}


/*shop header*/
.shop-desc {
	font-size:1.3em;
	color:#FFF;
	padding-top:17px;
	padding-left:260px;
	background:#84b234;
	height:128px;
	margin-right:-1px;
	border-top:1px solid #BEBEBE;
	border-right:1px solid #BEBEBE;
}

.lt-ie9.lt-ie8 .shop-desc {
padding-left:25px;
padding-right:8px;

}
.shop-logo {
	float:left;
	width: 227px;
	height:145px;
	border-top:1px solid #BEBEBE;
	border-left:1px solid #BEBEBE;	
	border-right:1px solid #a4d2e5;	

}

.shop-menu{
	clear:both;
	background: url('../img/shop-menu-bg.png') no-repeat left top;
	width:988px;
	height:69px;
	margin:0px;
	margin-left:-3px;
	padding-top:15px;
	text-align:center;


}
.shop-menu li{
	font-size:1.65em;
	margin-left:35px;
	display:inline;
	
}

.shop-menu li a {
	color:#565656;
}

.shop-menu li a:hover{
	color:#77af1a;
	text-decoration: none;

}

/* product image shadow*/


.product-wrapper {
	background: url('../img/product-right-border.png') repeat-y top right;
	width:484px;
	height:473px;
}
.product-inner {
	background: url('../img/product-bottom-border.png') repeat-x bottom left;
	width:473px;
	height:482px;
}

.product-thumbs {
	margin-left:0px;
	padding-top:15px;
	width:495px;
}

.product-thumbs li{
	display:inline;
	padding-right: 7px;
	float:left;
}

.product-thumb-wrapper {
	background: url('../img/product-right-border.png') repeat-y top right;
	width:157px;
	height:146px;
}

.product-thumb-inner {
	background: url('../img/product-bottom-border.png') repeat-x bottom left;
	width:146px;
	height:155px;
}


.product-related-wrapper {
	background: url('../img/product-right-border.png') repeat-y top right;
	width:293px;
	height:282px;
}

.product-related-inner {
	background: url('../img/product-bottom-border.png') repeat-x bottom left;
	width:282px;
	height:290px;
}

.span3 .product-related-wrapper {
	background: url('../img/product-right-border.png') repeat-y top right;
	width:220px;
	height:209px;
}

.span3 .product-related-inner {
	background: url('../img/product-bottom-border.png') repeat-x bottom left;
	width:209px;
	height:218px;
}



/* timer in product detail */


.product-detail .countdown-container {
    color: #FFF;
    font-family: 'Lobster',cursive;
    font-size: 36px;
    font-style: normal;
    margin-right:241px;
	margin-bottom: 120px;
}

.lt-ie9.lt-ie8 .product-detail .countdown-container {

	margin-bottom: 40px;
}

.product-detail .countdown code span {
	font-size:20px;
	background: url("../img/digit-bg-small.png") no-repeat scroll 0 0 transparent;
	width:20px;
	height:23px;
	line-height: 23px;
}

.product-detail span.sep {
	font-size:17px;
	margin-top:20px;
}
.product-detail .countdown {
	width:170px;
	padding-left:15px;
	padding-top:3px;

}



/* product detail - general */

.product-detail h5{
	font-size:1.1em;
	color:#4e4e4c;
}

.lt-ie9.lt-ie8 .product-detail h5.deal-end{
	padding-bottom: 70px;
}


.product-detail a:hover {
	color: #469BEB;
}

.product-detail .raty, .product-detail .review-number {
	float:left;
}

h5.review-number {
	padding-left:10px;
	margin:0px;
}

.btn-large.blue{
	color:#FFF;
}
/* product detail - rush hour */
.product-detail .price-option{	
	margin: 0px;
	margin-top:25px;
	margin-bottom:30px;
	clear:both;	
}


.product-detail .price-option li{
	display:inline;
	color:#96c6d6;
	font-size: 1.25em;
	font-weight:bold;
	padding-right: 20px;
}

.product-detail .price-option li .old-price, .product-detail .price-option li .discount-price{
	font-size:1.3em;
}

/* product detail - multibuy */
.product-detail ul.product-list li img.pull-left {
    border-color: white #DBDBDB #DBDBDB white;
    border-style: solid;
    border-width: 1px 1px 2px;
    height: auto;
    margin: 12px 6px;
    padding: 3px;
    width: 60px;
}
.product-detail ul.product-list {
	background:#FFF;
}

.product-detail .list-wrapper .product-list.buy-this {
    margin: 0px;
}

.product-detail ul.product-list li {
	float:left;
}

.product-detail .list-wrapper {
	width:458px;
	background: none;
	border:0px;
}

.product-detail .list-wrapper h4{
	width:180px;
	background:url('../img/multi-buy-bg.gif') top left  repeat-x ;
	height:33px;
	font-size: 1.23em;

}

.product-detail .list-wrapper .product-list  {
	height: 200px;
	overflow-y:auto;
	width:455px;
	border:1px solid #8b6270;
}

.lt-ie9.lt-ie8 .product-detail .list-wrapper .product-list  {
	overflow-x:hidden;


}

.product-detail .list-wrapper ul[class] li {
    border-top: 0px;    
}

/* product detail - select size*/

.selectSize {
margin-top:30px; 
height:20px;
}

.selectSize .span1, .selectSize .span2{
	padding-top: 3px;

}

/* product detail- select color*/
.selectColor {
	margin-top:30px;
	margin-bottom:30px;

	position:relative;
}

.selectColor ul {
	margin-top:15px;
	margin-left:0px;
}
.selectColor ul li  {
	display:inline;
}

.selectColor strong {
	color: #4e4e4c;

}

button.cart {
	font-size:1.5em;

}

/* product detail - select action */
ul.selectAction {
	margin-top:10px;
	margin-left: 0px;
}
ul.selectAction li {
	display:inline;
	margin-right:20px;
}
/*product detail - tab */

.product-tab{
	margin-top:25px;

}
.product-detail .nav-tabs > .active {
	background:  url("../img/ul-bg-green.png") no-repeat bottom center;  
	padding-bottom: 14px; 
}

.product-detail .nav-tabs > .active > a, .product-detail .nav-tabs > .active > a:hover, .product-detail .nav-tabs > li > a:hover  {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

		    background:#84B234;

	
    border-color: #DDDDDD #DDDDDD transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color:#FFF;
    cursor: default;
}


.product-detail .nav-tabs {
	background:url("../img/product-tab-bg.png") repeat-x top left;
	border-bottom: 0px;

}

.product-detail .nav-tabs a {
    font-size: 170%;
    color:#FFF;
    background-color: #469beb;
    border-color: #DDDDDD #DDDDDD transparent;
    border-width: 1px;
}

.product-detail .nav-tabs > li > a:hover {
    cursor: pointer;
}

.product-tab .tab-content {
border:1px solid #d2cfcb;
border-top:0px;
margin-top:-30px;
background:#FFF;
float:left;
position:relative;
z-index:-5;
padding:20px;
}


/* product detail - product related */
.product-related {
	padding-top:15px;
}

.product-related .also-bought {
	padding-left:30px;
}

.product-related h3.georgia {
	color:#48A4D7;
}

.product-related .row {
	margin-top: -15px;

}
.product-related  .row .span4, .product-related  .row .span3 {
	border-right:1px solid #cbcbcb;
	margin-top: 25px;
}

.product-related  .row .span4:nth-child(3n), .product-related  .row .span3:nth-child(4n) {
	border-right:0px;
}

.product-related  .row .span4.no-border, .product-related  .row .span3.no-border {
	border-right:0px;
}


.product-related h5 {
	font-size:1.15em;
}
.product-related .name {
	color: 	#555555
}
.product-related .view-detail {
	float:right; 
	margin-top: -30px; 
	padding-right:19px;
	text-align:right;
}

.product-related a:hover {
	color: #469BEB;
}

.product-related a.btn-general {
	font-size: 12px;

}

.product-related a.btn-general:hover {
	color: #FFF;
}
.product-related .span3 {
	width:222px;
}

.lt-ie9 .product-related .span3 {
	width:221px;
}
/* manage product - category list*/

/*.sidebar .category-list {
	padding-left: 12px;
}*/

.sidebar .nested-list {
	padding-left: 12px;

}



.sidebar .category-list ul li{
	border-top: 1px dashed #c2cbd3;
}

.sidebar .category-list> ul > li:first-child{
	border-top: 0px;
}


.sidebar .category-list ul{
	margin-left:0px;
	overflow: inherit;
	width:200px;
}



/* level 1 */
.sidebar .category-list li a {
	padding-left:3px;
	display:block;
}

/* level 2 */
.sidebar .category-list li li a {
	padding-left:18px;
}

/* level 3 */
.sidebar .category-list li li li a { 
	padding-left:33px;
}

/* level 4 */
.sidebar .category-list li li li li a {
	padding-left:48px;
}


.sidebar .category-list li.collapsed > a > span{
	padding-left:15px;
	background: url('../img/collapsed.gif') no-repeat center left;
}

.sidebar .category-list li.expanded > a > span{
	padding-left:15px;
	background: url('../img/expanded.gif') no-repeat center left;
}

/* manage product - form-search */
.form-search {
	background:#84b234;
	padding-top:0px;
	padding-left:20px;
	padding-bottom: 4px;
	position: relative;
}

.form-search label {
	text-transform: uppercase;
	color: #FFF;
	font-size:0.98em;
	padding-right: 10px;	
	padding-top: 9px;
	font-weight:bold;

}

.form-search select {
	width:110px;

}

.form-search .chzn-container {
	margin-right: 18px;

	position: absolute;
	top: 8px;
	left:90px;

}

.form-search .chzn-container .chzn-results li {
	list-style:none inside none;
	width:100%;

}

.form-search input {
	width: 147px;
	height:15px;
}

.form-search .btn-small {
	width: 80px;
	margin-left:8px;
	color:#469beb;
}

.form-search .input-search {
	float:right;
	margin-right: 10px;

}

.lt-ie9.lt-ie8 .form-search .input-search{
float:right;
margin-top:-38px;
}



/* manage product - edit product listing*/

.manage-product .btn-general {
	font-size: 90%;

}
.manage-product  .add-product{
	border-top:1px solid #d6d6d4;
	border-bottom:1px solid #d6d6d4;
	padding-top: 8px;
	padding-bottom: 8px;

}

.manage-product  .paging{
	float:right;
}



.manage-product .paging li{
	padding-left: 10px;
}

.manage-product .add-product .btn-general {
	width:160px;
	margin-left: 12px;
}

.lt-ie9 .btn-general {
background: url("../img/btn-general-rpt.png") repeat-x scroll 0 0 transparent;
}

.media-category {
	color:#358bd8;	
	padding:0px;
	padding-top: 5px;
	margin:0px;
}

.edit-product-list {
	color:#5c5c5c;
}

.edit-product-list .media-heading {
	font-size:1.1em;
	font-weight: bold;
	padding:0px;
	margin:0px;
}

.edit-product-list .media-code {
	font-size: 0.8em;
	font-weight:normal;
	padding:0px;
	margin:0px;
	margin-bottom: 10px;

}
.edit-product-list .media-body {
	float:left;
	padding-left: 12px;
}


.edit-product-list .media-body p {
	font-size: 1em;
	padding-top: 15px;

}
.edit-product-list li.media {
	padding-left: 12px;
	padding-top: 12px;
	float:none;

}

.media-price {
	display:inline;
}

.media-price .current-price {
	font-size:1.1em;
	color:#358bd8;	
	font-weight: bold;
	padding-left: 20px;
}

.edit-product-list .btn-general {
	width:60px;
	margin-right: 5px;
}

.lt-ie9 .edit-product-list .btn-general {
width:85px;
}
/* manage product - edit product form */

.media-edit{
	background: #e0e0e0;
	width: 100%;
	padding-bottom: 20px;
	position: relative;

}

.media-edit .form-horizontal .control-label {
    text-align: left;
    width: 150px;

}

.media-edit .input-xlarge {
	width:340px;

}
.media-edit .media-body {
	float:none;

}

.media-edit .form-horizontal .controls {
    margin-left: 155px;
}

.lt-ie9.lt-ie8 .form-horizontal .controls {
 margin-left: 0px;
}

.media-edit .uploading li {	
	margin-right: 5px;
	text-align: center;
}

.media-edit .uploading li a{	
	background: url('../img/icon-plus.gif') no-repeat top left;
	padding-left:13px;
}

.media-edit .uploading li a:hover, .edit-full-mode:hover, .paging a:hover {
	text-decoration: none;
	color:#358BD8;
}

.media-edit .uploading li div {	
	border:1px solid #358bd8;
}

.media-edit .uploading li.uploaded div {	
	border:1px solid #9abd5c;
}

.media-edit .uploading li.uploaded a{	
	background: none;
	padding-left:0px;
}

.media-edit .btn-dark-grey-small {
	margin-right: 10px;
}

.media-edit .input-mini {
	width:43px;

}

.media-edit .input-promotion .input-small {
	width:75px;

}

.media-edit input[type=checkbox]{
margin-top: -4px;
}

.media-edit .input-price-stock .input-medium {
width:120px;
margin-left: 20px;
margin-right:24px;
}

.media-edit .form-inline {
margin-bottom: 12px;

}
.media-edit .input-save {
 position: absolute;;
 bottom:13px;
 left:15px;

}

/* shopping cart */
.sc-step li {
 background: url('../img/step-inactive.gif') no-repeat top left; 
 width:173px;
 height:33px;
 padding-top:7px;
 padding-left: 28px;
 font-style: italic;
 color: #8e8e8e;
}
.sc-step li.step-active {
 background: url('../img/step-active.gif') no-repeat top left; 
}

.sc-step .step-active {
	color:#469beb;

}
.sc-step .badge{
 font-style:normal;	
}

.sc-table {
margin-top: 0px;
border-bottom: 1px solid #DDD;
}
.sc-table-header th {
	background: #84b234;
	color:white;
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 15px;
}

.sc-table-header th.collapsing {
	background:#84b234 url("../img/icon-collapsing.png") center right no-repeat;
}
.sc-table-product-header {
	background:#555555;
}

.sc-table-product-header th {
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
}

.sc-table-header-blue {
	background:#469BEB;
}

.btn-paypal {
border-right:1px solid #DDD;float:left;padding-right:20px;margin-right:22px;

}
.sc-table-header-blue th {
	color:white;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 0.9em;
	padding-left: 20px;
	line-height:25px;
}

.sc-table tr td.col3, .sc-table tr th.col3, .sc-table tr th.col5, .sc-table tr td.col5{
	text-align: right;
}

.sc-table tr td.col4, .sc-table tr th.col4{
	text-align: center;
}

.sc-table tr td.col5, .sc-table tr th.col5{
	padding-right: 20px;
}

.sc-table tr td.col1, .sc-table-product-header th.col1{
	padding-left:20px;
}
.sc-table tbody td {
	padding-top: 13px;

}
/*
.sc-table tbody tr td:nth-child(4) {
	padding-top: 7px;
}
*/
.sc-table tbody tr{
	background: white;
}
.sc-table .old {
	font-size:0.9em;

}

.sc-table .input-mini {
	width:60px;
	padding-right:10px;
	text-align:center;
}

.sc-table a:hover {
	color:#358BD8;
}

.heading{
	text-transform: uppercase;
	font-size: 0.9em;
	color:#707070;
}

.sc-table select {
	width: 180px;

}
.sc-table .chzn-container {
	border:1px solid #DDDDDD;
	margin-right: 10px;

}

.sc-table-discount td {
	border-top:0px;
}
.sc-table-discount {
	border-bottom: 1px solid #DDDDDD;

}
.sc-table td input.input-xlarge {
    width: 180px;
    margin-right: 10px;
}
.sc-table tbody tr {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;

}
.sc-table-discount .heading {
padding-left: 70px;
}
.sc-table-discount .blue {
padding-right: 8px;
}


.sc-table .chzn-container .chzn-results li {
float:none;
}

.shopping-cart .sidebar .categories h2 {
    background:  #469BEB;
    font-size: 1.5em;
    font-weight: normal;
}

.shopping-cart .cart-summary-wrapper{
	margin-top: 58px;

}

.product-table td.col2 {
width:290px;


}
.cart-summary{
font-weight: bold;

}

.cart-summary .col1 {
color:#707070;
text-transform:uppercase;
}
.cart-summary-footer {
background:#F0F0F0;text-align:center; border-top:1px solid #DDD; border-bottom:1px solid #DDD;padding-top:20px;padding-bottom:20px;



}

.cart-summary-or {
    background: url("../img/bg-line.gif") repeat-x scroll left center transparent;
    font-weight: bold;
    margin-left: 32px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-top: 10px;
    text-align: center;
    width: 120px;
}

.cart-summary-or span {
background:#f0f0f0;padding-left:5px;padding-right:5px;
}
.cart-total {
	border-top:1px solid #DDDDDD; 
	width:192px; 

	 padding-bottom: 10px;
    padding-top: 15px;

}


.cart-summary tbody tr td.col1,.cart-summary tfoot tr td.col1 {
font-size:0.9em;
    color: #707070;
    text-transform: uppercase;
	
}

.cart-summary tbody td {
border-top: 0px;
line-height:15px;
padding-top:5px;
}

.cart-summary .cart-value {
	text-align: right;
	padding-right: 15px;
}

.sc-table-estimate-shipping {
	width:225px;
}

.sc-table-estimate-shipping tbody td {

padding-top: 5px;
line-height:15px;

}

.sc-table-estimate-shipping .col2 {
	padding-right: 10px;

}

.sc-table-estimate-shipping tbody td, .sc-table-estimate-shipping tbody tr  {
	border: 0px;
}

.sc-table-estimate-shipping tfoot tr {
	border-left: 0px;
	border-right:0px;
}

.sc-table-estimate-shipping tr td.col1 {
	text-transform: uppercase;
	font-size: 0.9em;
	color:#707070;
	font-weight: bold;
	text-align:right;
	padding-left:0px;

}
.sc-table-estimate-shipping td.col2 {
	text-align:right;
	font-weight: bold;
	padding-right:10px;
}

.sc-table-order td.col2 {
width:290px;

}

.sc-table-order td.col4{
width:110px;
}

.sc-table-order td.col5 {
width:60px;
}
.sc-table-order td.col1 {
width:80px;

}

.sc-table-order-total td.col2 {
width:80px;
}
/* checkout - message box*/
.message-wrapper {
	background: url('../img/message-right-border.png') repeat-y top right;
	width:734px;
	height:50px;
}
.message-inner {
	background: url('../img/message-bottom-border.png') repeat-x bottom left;
	width:733px;
	height:52px;
}
.message-inner a:hover {
	text-decoration: none;
}
.message-box {
	border: 1px solid #f5c51e;
	width: 710px;
	padding:10px;
	background: #fff1af;
	font-size:1.5em;
	color:#645a34;
	text-align: center;
}

.shopping-cart .red {
	font-size: 1.4em;
	text-align: center;
	font-style: italic;
	padding: 0px;
	margin: 0px;
	margin-top: -18px;

}


/* checkout - table */
.sc-table input.input-xxlarge {
    width: 208px;
    margin-right: 10px;
}

.lt-ie9.lt-ie8 .sc-table {
width:733px;
}

.sc-table-shipping .form-inline{

margin-bottom: 10px;
}

.sc-table .input-xxxlarge {
	width:435px;
}
.sc-table textarea.input-xxxlarge {
	width:430px;
}

.sc-table-shipping .input-medium {
	width:95px;
	margin-right: 5px;
}

.sc-table-shipping .chzn-container {
	top: 6px;
	height:27px;
	margin-right: 6px;

}

.lt-ie9 .sc-table-shipping .chzn-container {
	top: 12px;
	height:28px;
}

.sc-table-shipping select {
	width:208px;
}	
.sc-table-shipping th {
	padding-top: 8px;
	font-weight:bold;

}
.sc-table .same-as {
	float:right;
	text-transform: none;	
	margin: 0px;
	margin-right:12px; 

}

.sc-table .same-as input[type=checkbox]{
	margin-top: -3px;
	margin-right: 5px;
}

.sc-table-shipping select[name=scYear],.sc-table-shipping select[name=scMonth] {
	width: 72px;
}

.sc-table-shipping tbody tr td:nth-child(4) {
    padding-top: 13px;
}
.sc-edit-cart{
	float:right;
	text-transform: none;
	font-weight: bold;
	width:85px;
}
.btn-checkout-wrapper {
width:380px;
float:right;
}

.lt-ie9.lt-ie8 .btn-checkout-wrapper {
margin-right:15px;
}
.shopping-cart .btn-general {
	width:160px;
	background: url("../img/btn-general-rpt.png") repeat-x scroll 0 0 transparent;	
}


.lt-ie9 .shopping-cart .btn-general {
width:190px;
}

.cart-summary .row-grey {
	border-bottom: 1px solid #DDDDDD;
}

.cart-summary td {
	padding-left: 20px;
}

.shopping-cart .sidebar .innerbox {
    background: url("../img/promotions-bg.png") no-repeat scroll 0 100% #FFFFFF;
    margin-bottom: 20px;
    padding-bottom: 0px;
}
/* create promo */

.sc-table-promotion .sc-table-header th{
	padding-top: 10px;
	padding-bottom: 8px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.sc-table-promotion td input, .sc-table-promotion td textarea {
    padding-right: 6px; 
}

.sc-table-promotion label {
padding-right:0px;
margin-right:0px;
}

.lt-ie9.lt-ie8 .sc-table-promotion label {
padding-right:5px;

}

.sc-table-promotion .control-label {
	text-align: left;
	padding-left: 20px;
}

.footer-button{
float:right;
margin-right:-5px;
}

.lt-ie9.lt-ie8 .footer-button{
margin-right:10px;

}
.btn-general-small{
  	background: url("../img/btn-general-rpt.png") repeat-x scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: inline-block;
    font-size: 85%;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 13px;
    text-align: center;
    text-transform: uppercase;
	width:80px;
}
.btn-success-small{
  	background: url("../img/btn-green-small.png") repeat-x scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: inline-block;
    font-size: 85%;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 13px;
    text-align: center;
    text-transform: uppercase;
	width:80px;
}

.sc-table-promotion .btn-grey-small{
	width:80px;
}
.sc-table-promotion input.input-xxlarge {
    width: 278px;
}
.lt-ie9.lt-ie8 .sc-table-promotion input.input-xxlarge {
    width: 270px;
}

.sc-table-promotion input.input-small {
	width:75px;

}

.sc-table-promotion .form-inline {
	padding-left: 10px;
}
.sc-or{
	padding: 10px;
	padding-left: 15px;
}
.selected-products{
	/*width:665px; */
	margin-left: 10px;
	border:0px;
	margin-top: 10px;
	font-size:0.85em;
}

.selected-products tbody td {
	padding-top: 5px;
	padding-left: 15px;
}

.selected-products td, .selected-products tbody tr  {
	background: #F0F0F0;	
	border:0px;
}

.selected-products .col1 {
	font-weight: bold;
	width:530px;
}

.selected-products .col2 {
	width:90px;
	text-align: center;
}

.lt-ie9 .selected-products .col2 {
	width:98px;
	text-align: center;
}

.promotion .sidebar .categories h2 {
    background: #8f8f8f;
}

.promotion .sidebar .innerbox h2 {
	font-size: 1.2em;
}

.category-list ol {
	padding-left: 10px;
}

/* online marketing */
.sc-table-promotion .tab-content{
	background: #f0f0f0;
	padding: 15px;
	border: 1px solid #DDDDDD;
	border-top:0px;
}
.sc-table-promotion .nav-tabs {
	background: #555555;
	width:270px;
	padding: 5px;
	padding-bottom: 0px;
	border-bottom: 0px;
}

.sc-table-promotion .nav-tabs li {
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;

}

.sc-table-promotion .nav-tabs > .active > a{
	background: #f0f0f0;
	color: #555555;
}
.sc-table-promotion .nav-tabs > li > a {
	color:#FFF;
}

.sc-table-promotion .nav-tabs > li > a:hover {
	color:#555555;
}

.sc-table-promotion  tbody tr {
    background: #F0F0F0;
    border:0px;
}
.sc-table-promotion > tbody>tr>td{
	background: white;
	padding-right: 20px;
}
.sc-table-promotion .table th {
	text-transform: uppercase;
	font-size: 0.9em;
	color: #555555;
}

.sc-table-promotion .table th, .sc-table-promotion .table td {
	border-top: 0px;
}
.promotion .category-list p{
	padding: 10px;
	padding-left: 20px;
}

.sc-table-promotion .btn-general {
	width:134px;
}

/* product upload update */
.sc-table-promotion .select-category{
	width:100%;
	margin-left:-10px;
	padding-left:10px;
}

.sc-table-product-upload td{
	font-size: 1em;

}
.sc-table-promotion .select-category .span3{
	width:159px;
	float: left;
	margin-left: 10px;
	border:1px solid #DDDDDD;
	height:160px;
}

.lt-ie9.lt-ie8 .sc-table-promotion .select-category .span3{
width:158px;
}
.sc-table-promotion .select-category .span3 select{
width:159px;
overflow-y:auto;
font-size:1.05em;
padding-left:2px;
height:160px;
}

.product-upload label, .product-upload .uploading {
	font-size:0.9em;

}
.product-upload .control-group{
margin-left: -10px;

}

.list-size li a {
background:url(../img/btn-size.png) top left no-repeat;
   color: white;
    display: block;
    height: 26px;
    line-height: 29px;
    text-align: center;
    width: 38px;
    border:1px solid #fff;
}
.list-size li a:hover{
text-decoration:none;
color:#fff;
} 
.list-size li {
padding-right:7px;
}
.list-size li.selected a {
background:url(../img/btn-size-selected.png) top left no-repeat;
   color: #555;
 height: 28px;
    line-height: 30px;
    width: 40px;
    border:0px;
}

.list-size li.selected a:hover{
text-decoration:none;
color:#555;
}

.list-color li{
padding-right:1px;
}

.list-color li img { 
border:2px solid #fff;
}
.list-color li.selected img {
border:2px solid #469beb;
}

.lt-ie9 .sc-table-promotion .select-category .span3{
	margin-left: 10px;
	width:159px;
}

.select-category ul li {
	float:none;
}

.select-category {
	padding-bottom: 10px;
	font-size: 0.9em;
}
.assign-category .btn-general {

	width:90px;
	margin-right: 10px;
}
.assign-category{
	margin-bottom: 15px;
	font-size: 0.9em;
}

.select-products-wrapper .selected-products {
	width:650px;
	margin-top: 0px;
}

.select-products-wrapper {
	height:100px;
	width:680px;
	overflow-y: auto;
	padding: 0px;
	margin-bottom: 20px;
}
.sc-table-promotion .media-edit {
	background: none;

}

.sc-table-promotion .media-edit .input-xlarge {
    width: 420px;
}
.sc-table-promotion table.size-color{
	width:620px;
	margin-left: -7px;
	font-size: 0.9em;
}

.sc-table-promotion table.size-color td{
	border:0px;
}

.sc-table-promotion table.size-color td.col3{
width:400px;
text-align:left;
}

.sc-table-promotion table.size-color td.col2{
width:50px;
text-align:left;
}

.sc-table-promotion table.size-color td.col1{
width:70px;

padding-left:8px;
}
.sc-table-promotion table.size-color tbody tr {
	background: white;
}


.sc-table-promotion tbody td.advanced-option {
	padding: 30px;
}

.main-content p.intro-txt{
margin-left:20px
}
.sc-table-promotion .control-label-small {
	width:125px;
}
.sc-table-promotion .control-label-xsmall {
	width:90px;
}
.sc-table-promotion .control-label-xxsmall {
	width:50px;
}
.sc-table-promotion .control-label-xlarge {
	width:300px;
	margin-bottom:10px;
}
.sc-table-promotion .control-label-llarge {
	width:225px;
	margin-bottom:10px;
}
.sc-table-promotion .control-label-big {
	width:145px;
	padding-top: 5px;
}
.sc-table-promotion .control-label-bank {
	width:105px;
	padding-top: 5px;
}
.sc-table input.input-large {
    width: 160px;
    margin-right: 10px;
}
.sc-table .upload-btn{
	margin-top:2px;
}
.sc-table input.input-url {
    width: 335px;    
}
.sc-table input.input-newurl {
    width: 235px;    
}
.sc-table input.input-cc-xsmall {
    width: 45px;
   /* margin-right: 10px;  */
}
.sc-table input.input-cc-large{ 
    width: 137px    
}
.sc-table-promotion input.input-phone-number{ 
	width:130px;
	padding-top: 5px;
}
/* #phoneNumber1_chzn, #phoneNumber2_chzn, #phoneNumber3_chzn,  #phoneNumber4_chzn{
    height:28px;
    width:45px!important;
    margin:0 5px 0;
    float:left
} */
.sc-table input.input-xsmall {
    width: 28px;
    margin-bottom: 5px;  
}

.sc-table-promotion .btn_remove{
	float:right;
	width:119px;
	margin-top:-52px;
}

.sc-table-promotion td.new-branch-area{
	background-color:#e0e0e0;
	padding:7px 0 7px 20px;
}
.sc-table-promotion .chk_regis{
	margin-left:0px!important;
}
.tooltip{
	opacity:1!important;
	filter:alpha(opacity=100)!important; /* For IE8 and earlier */}
.tooltip-inner{
	border:solid 1px #00e2db;
	color:#000;
	background-color:#fff;
}
.imp-info{
	background-color:#fff1af;
	border:solid 1px #f5c51e;
	width: 730px;
	text-align:center;
	margin-bottom:22px;	
	box-shadow: 1px 1px 1px #C2AB6B;
}
.imp-info p{ 
	margin:10px 0;
	font-family: georgia, sans-serif;
	color:#464646;
	font-size:18px;
	font-style:italic;
}
.sc-table-promotion  .control-label-cc{
	width:95px;
	
	padding-top:5px;
}
.sc-table-promotion  .control-label-cc-inner{
	width:150px;	
	padding-left:0px;
}.sc-table-promotion  .control-label-dc-inner{
	width:170px;	
	padding-left:0px;
	margin-top:0;
}
.sc-table-promotion .control-label-cc-blank {
    
    width: 95px;
}
.sc-table-promotion  .control-label-dc{
	width:115px;
	margin-bottom:5px;
	padding-top:5px;
}
.sc-table-promotion .control-label-dc-blank {
    padding-top: 0px;
    width: 95px;
}
.control-group-bank{
margin-bottom:10px;
float:left;
}
.container.content.promotion .categories.innerbox h2{
    font-size: 1.1em;
}
.sc-table-promotion .control-label-text {
    width:185px;
    padding-top: 5px;
}
.sc-table-promotion .control-label-text2 {
	font-size:12px;
	margin-top:-10px;
    width:220px;
}
.control-group .chzn-container-single{
    height:28px;
    width:45px!important;
    margin:0 5px 0;
    float:left
}
.logo-url{
	width: 255px !important;
	margin: 0 10px;
}
